body {
    margin: 0;
    padding: 0;

    background: #111;
    color: white;
    font-family: Arial, sans-serif;
    text-align: center;

    background-image: url("images/background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    color: #6dc5ff;
}
