body{
    background:#111;
    color:white;
    font-family:Arial;
    text-align:center;
body {
    margin: 0;
    padding: 0;

    background-image: url("images/background.png");
    background-size: cover;        /* wypełnia cały ekran */
    background-position: center;   /* wyśrodkowanie */
    background-repeat: no-repeat;  /* bez powielania */
    background-attachment: fixed;  /* tło nie przewija się */
}
}

h1{
    color:#6dc5ff;
